html {
    position: relative;
}
.img-logo {
    width: 140px;
}

header {
    width: 100%;
    height: 80px;
}

body {
    font-family: 'Khula', sans-serif;
    background-color: rgb(255, 244, 244);
    min-height: 100vh; 
    padding-top: 80px;
    padding-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ccc;
}

.copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

/* Menu */
.nav-item {
    margin-right: 25px;
}

.button-prestar {
    color: #ffffff;
    border-radius: 30px;
    background-color: #db871a;
    display: block;
    padding: 12px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

.button-cnt {
    color: #db871a;
    border-radius: 30px;
    border: 1px solid #db871a;
    display: block;
    padding: 12px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-right: 25px;
}

.button-cnt:hover {
    color: #db871a;
}

.button-prestar:hover {
    color: #ffffff;
}

nav ul li a {
    position: relative;
    font-size: 16px !important;
    text-decoration: none !important;
}


/*Mobile*/
@media (max-width: 767.98px) {
.footer {
    left: 0 !important;
    text-align: center;
}
}

@media (max-width: 778px)
{
    
}
