h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #a5a5a5;
    font-weight: 300;
    font-size: 34px;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #a5a5a5;
    font-weight: 300;
    font-size: 34px;
    margin-bottom: 20px;
}
.banner-home {
    margin-bottom: 60px;
}
.section-category {
    margin-bottom: 60px;
}
.box-category h2 {
    margin-bottom: 0px;
}
.box-category a {
    background-color: #094971;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
    display: block;
    text-align: center;
    width: 100%;
    padding: 60px 0px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 0px;
}
.section-diagnosis {
    margin-bottom: 60px;
}
.btn-diagnosis {
    background: #db871a;
    border-color: #db871a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.btn-diagnosis:hover {
    background: #094971;
    border-color: #094971;
} 

.large{
    height: 110px;
}

.small{
    height: 70px;
}

/*Mobile*/
@media (max-width: 778px)
{
    .box-category {
        margin-bottom: 20px;
    }
}
